.qmake.stash
Makefile
*.o
libsimConvex.1.0.0.dylib
libsimConvex.1.0.dylib
libsimConvex.1.dylib
libsimConvex.dylib
libsimConvex.so
libsimConvex.so.1
libsimConvex.so.1.0
libsimConvex.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
